[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pdbpp = "*"
ipython = "*"
mypy = "*"
pylint = "*"

[packages]
phonenumbers = "*"
typing-extensions = "*"
nltk = "*"
google-api-python-client = "*"
numpy = "*"

[requires]
python_version = "3.7"
